<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyq.petidentifyapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="宠物识别"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ViewDataActivity" />

        <activity android:name=".activity.DetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".activity.TestMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".activity.TestIdentifyActivity"
            android:screenOrientation="landscape" >

        </activity>


    </application>

</manifest>